[submodule "Core/cRingbuf"]
	path = Core/cRingbuf
	url = https://github.com/Pansamic/cRingbuf
[submodule "Middlewares/Third_Party/Middlewares/Third_Party/cRingbuf"]
	path = Middlewares/Third_Party/Middlewares/Third_Party/cRingbuf
	url = https://github.com/Pansamic/cRingbuf
[submodule "Middlewares/Third_Party/cRingbuf"]
	path = Middlewares/Third_Party/cRingbuf
	url = https://github.com/Pansamic/cRingbuf
